
body {
    background-color: #f4eee1;
    color: #2d2921;
}

.thin-border {
    border: 1px solid #423419;
}

.header{
    width: 80%;
    margin: 20px;
    padding: 10px;
}

.panel{
    margin: 20px; /* distance between container/box elements*/
    padding: 10px; /* distance between container/box and its contents*/
    text-align: center;
    border-radius: 10px;
}

.panel img {
    width: 100%;
}
.panel:hover {
    background: #f2f0ed;
}

.temperature {

}
.info{
	width:200px;
	display:block;
	border:solid green 2px;
}
.box{
	align:left;
}

/**
for positioning
 use float (left, right, none, inherit), position (fixed, absolute, relative ....) (right : 5px, left: 20px;)
*/
.wind {
}

.cloud {

}

.precipitation {
}

.weather-measurement {
    color: #4f4a41;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: url('logo.png');
    background-color: #4372b3;
}

.circle img {
    height: 180px;
}

#temp {
    font-size: 1.5em;
}

.container {
    display: grid; /** defines the whole container element to be a grid**/
    grid-template-columns: 200px 200px 200px 200px; /** this defines 4 columns of different widths **/
}