<!DOCTYPE html>
<html>
    <head>
        <meta name="width=device-width,initial-scale-1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="layout.css">
        <title>WeatherApp</title>
    </head>
    <body>
        <div class="header">
            <div class="sub-header">
                sub header
            </div>
            Feneter
        </div>
        <div class="sidebar-left">
            <div class="sub-header">
                sub header
            </div>
            Hello   
        </div>
        <div class="sidebar-right">
            World
        </div>
        <div class="footer">
            Here we go
        </div>
    </body>
</html>